################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/Statistics/bin/Debug/net7.0
/Statistics/obj
